.nav-bar-hack {
  	bottom: 0px !important;
    height: auto !important;
  }
  
  body a.w-webflow-badge {
    display: none !important;
  }
  
  body {
  	text-rendering: optimizeLegibility;
  }
  
  @media screen and (max-width: 476px) {
    .hide-on-mobile {
      display: none;
    }
  }
  
  .hr-style {
  border: 0;
  height: 8px;
  background-color: #F0F0F0;
  margin: 20px 0px;
  }
  
  .BlogBodyQuote {
  grid-column: 2/-1;
  font-size: 24px;
  line-height: 36px;
  padding: 0px 0px 15px 40px;
  font-style: italic;
  margin: 40px 0px 50px 0px;
}

.quote-text {
  width: 100%;
  margin-top: 10px;
}

.quote-icon {
  position: relative;
  top: 16px;
}

footer.quote-footer {
  font-size: 16px;
  margin-top: 20px;
  font-style: normal;
}

	.home--group-chat-img.video {
  transform: translateZ(0);
  } 
  
  @media (max-width: 767px) and (min-width: 270px) {
  #landing-cta .ctaContainer-5100Xg {
    flex-direction: column;
  }
  #landing-cta > div > *:first-child { 
    margin-left: 0; 
    margin-right: 0; 
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .ctaContainer-5100Xg {
    justify-content: center;
  }
}
.wumpus-footer-home-contain, .discord_robot {
	-webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
html[lang="ja"] .heading--h1.is_2025 {
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
    html[lang="ja"] .heading--h1.is_2025  {
     line-height: 1.2;
    }
}

html[lang="ja"] .heading--h2.is_2025 {
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
    html[lang="ja"] .heading--h2.is_2025 {
     line-height: 1.1;
    }
}

html[lang="vi"] .heading--h1.is_2025 {
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
    html[lang="vi"] .heading--h1.is_2025  {
     line-height: 1.1;
    }
}

html[lang="vi"] .heading--h2.is_2025 {
  line-height: 1.12;
}
@media screen and (max-width: 767px) {
    html[lang="vi"] .heading--h2.is_2025 {
     line-height: 1.12;
    }
}

html[lang="hi"] .heading--h1.is_2025 {
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
    html[lang="hi"] .heading--h1.is_2025  {
     line-height: 1.2;
    }
}

html[lang="hi"] .heading--h2.is_2025 {
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
    html[lang="hi"] .heading--h2.is_2025 {
     line-height: 1.2;
    }
}


html[lang="hu"] .heading--h2 {
  font-size:33px;
}
@media screen and (min-width: 1920px) {
    html[lang="hu"] .heading--h2 {
      font-size: 44px;
    }
}

@media screen and (max-width: 1281px) {
    html[lang="hu"] .heading--h2 {
      font-size: 22px;
    }
}
