.nav-bar-hack {
  	bottom: 0px !important;
    height: auto !important;
  }
  
  body a.w-webflow-badge {
    display: none !important;
  }
  
  body {
  	text-rendering: optimizeLegibility;
  }
  
  @media screen and (max-width: 476px) {
    .hide-on-mobile {
      display: none;
    }
  }
  
  .hr-style {
  border: 0;
  height: 8px;
  background-color: #F0F0F0;
  margin: 20px 0px;
  }
  
  .BlogBodyQuote {
  grid-column: 2/-1;
  font-size: 24px;
  line-height: 36px;
  padding: 0px 0px 15px 40px;
  font-style: italic;
  margin: 40px 0px 50px 0px;
}

.quote-text {
  width: 100%;
  margin-top: 10px;
}

.quote-icon {
  position: relative;
  top: 16px;
}

footer.quote-footer {
  font-size: 16px;
  margin-top: 20px;
  font-style: normal;
}

	.home--group-chat-img.video {
  transform: translateZ(0);
  } 
  
  @media (max-width: 767px) and (min-width: 270px) {
  #landing-cta .ctaContainer-5100Xg {
    flex-direction: column;
  }
  #landing-cta > div > *:first-child { 
    margin-left: 0; 
    margin-right: 0; 
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .ctaContainer-5100Xg {
    justify-content: center;
  }
}
.wumpus-footer-home-contain, .discord_robot {
	-webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
html[lang="ja"] .heading--h1.is_2025 {
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
    html[lang="ja"] .heading--h1.is_2025  {
     line-height: 1.2;
    }
}

html[lang="ja"] .heading--h2.is_2025 {
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
    html[lang="ja"] .heading--h2.is_2025 {
     line-height: 1.1;
    }
}

html[lang="vi"] .heading--h1.is_2025 {
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
    html[lang="vi"] .heading--h1.is_2025  {
     line-height: 1.1;
    }
}

html[lang="vi"] .heading--h2.is_2025 {
  line-height: 1.12;
}
@media screen and (max-width: 767px) {
    html[lang="vi"] .heading--h2.is_2025 {
     line-height: 1.12;
    }
}

html[lang="hi"] .heading--h1.is_2025 {
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
    html[lang="hi"] .heading--h1.is_2025  {
     line-height: 1.2;
    }
}

html[lang="hi"] .heading--h2.is_2025 {
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
    html[lang="hi"] .heading--h2.is_2025 {
     line-height: 1.2;
    }
}


html[lang="hu"] .heading--h2 {
  font-size:33px;
}
@media screen and (min-width: 1920px) {
    html[lang="hu"] .heading--h2 {
      font-size: 44px;
    }
}

@media screen and (max-width: 1281px) {
    html[lang="hu"] .heading--h2 {
      font-size: 22px;
    }
}

/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/* Apply "..." after 1 lines of text */
.text-style-1line {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px), 
  @media screen and (max-width: 767px), 
  @media screen and (max-width: 479px){
    .hide, .hide-tablet{
      display: none !important;
    }
  }
  @media screen and (max-width: 767px)
    .hide-mobile-landscape{
      display: none !important;
    }
  }
  @media screen and (max-width: 479px)
    .hide-mobile{
      display: none !important;
    }
  }
 
.margin-0 {
  margin: 0rem !important;
}
  
.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
  
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
  
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
  
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
  
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

	.btn:hover .button-arrow {
   transform: translateX(2px);
  }
  
  .btn.is-back:hover .button-arrow-back {
   transform: translateX(-2px);
  }
  
  .btn_hover {
  opacity: 0;
  transition: opacity 0.5s ease; 
}

 	.btn_wr:hover .btn_hover {
  opacity: 1;
}

 	.btn_wr:active .btn_hover {
  opacity: 1;
}

 	.btn_wr:focus .btn_hover {
  opacity: 1;
}

	.featured_image {
    transition: transform 0.3s ease;
}

	.featured_main-card:hover .featured_image {
    transform: scale(1.15); 
}


	@media (max-width: 767px) {
    .featured_main-card:hover .featured_image {
        transform: scale(1.1); 
    }
}

.bottom_search_trigger:hover .icon_dd_bg{
  opacity:1;
  top:4px;
  left:4px;
  bottom:4px;
  right:4px;
  border-radius:0.75rem;
}

.swiper_arrow:hover .icon_dd_bg {
opacity:0.3;
}


body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1279px) and (min-width: 992px) {  
    .nav_brand_main-logo-2 {  
        opacity: 1;  
    }  
      .nav_brand_main-black-icon {  
       opacity: 0; 
    }  
      .nav_brand  {  
       width: 9.1rem; 
    }  
        .nav_brand_main-black-logo {  
      background-color: black; 
    }  

}  



@media screen and (min-width: 1280px) {
    .nav_brand_main-black-logo {
        width: 9.1rem; }  

}  

.menu-animation.is_brand {
  height: 870px;
}

/* Высота при разрешениях 1279px - 992px */
@media (max-width: 1279px) and (min-width: 992px) {
  .menu-animation.is_brand {
    height: 700px;
  }
}

/* Высота при разрешениях больше 1991px */
@media (min-width: 1991px) {
  .menu-animation.is_brand {
    height: 8000px;
  }
}

  @media (max-width: 1279px) and (min-width: 310px) {
  .nav {
z-index: 101;
}
  }

.hero_button-r {  
    position: relative; 
    overflow: hidden;  
    background-color: transparent; 
    border: none; 
    padding: 10px 20px; 
    color: #ffffff; 
    cursor: pointer; 
    z-index: 1; 
    transition: color 0.3s ease; 
}  

.hero_button-r::after {  
    content: ''; 
    position: absolute; 
    left: 0; 
    right: 0;
    bottom: 0; 
    height: 100%; 
    background: linear-gradient(to bottom, transparent 0%, #1f1d5d 130%);  
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: -1; 
}  

.hero_button-r:hover::after {  
    opacity: 1; 
}

	/*nav styles*/
 .nav:has(.nav_dd_trigger.w--open) .nav_blur{
 	 display: block;
   height:100%;
   transition: opacity 0.4s;
   opacity:1;
   
  }
   /* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #fff;
   outline-offset: 0.125rem;
}
 
  
  .nav_blur {  
    display: block;               
    opacity: 0;                
    visibility: hidden;        
    transition: opacity 0.4s, visibility 0.4s; 
}  

.nav:has(.nav_dd_trigger.w--open) .nav_blur {  
    opacity: 1;                 
    visibility: visible;        
}  

  .nav:has(.nav_dd_trigger.w--open) .nav_dd_bg{
  transform: scaleY(1);
  }
  
.nav_burger_content .nav_link{
	padding-top: 1.5rem;
	padding-left:0;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #ffffff10;
	border-radius: 0px;
	justify-content:left;
}

.nav_burger_content .nav_dd_trigger {
	padding-top: 1.5rem;
	padding-left:0;
	padding-bottom: 1.5rem;
	border-bottom: none;
	justify-content:space-between;
	flex-grow:1;
}
.nav_burger_content .nav_dd {
	border-bottom: 1px solid #ffffff10;
	border-radius: 0px;
}
.nav_menu.is-burger::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}
.nav_dd_link-group:last-child {
  border:0px;
}

.dd_nav-link:hover .nav_dd_link_arrow{
	transform: translate(2px, -2px); 
}
@media screen and (max-width: 340px) and (min-width: 240px) {
.nav_brand {
   width: 7.45rem;
}
}
