.nav-bar-hack {
  	bottom: 0px !important;
    height: auto !important;
  }
  
  body a.w-webflow-badge {
    display: none !important;
  }
  
  body {
  	text-rendering: optimizeLegibility;
  }
  
  @media screen and (max-width: 476px) {
    .hide-on-mobile {
      display: none;
    }
  }
  
  .hr-style {
  border: 0;
  height: 8px;
  background-color: #F0F0F0;
  margin: 20px 0px;
  }
  
  .BlogBodyQuote {
  grid-column: 2/-1;
  font-size: 24px;
  line-height: 36px;
  padding: 0px 0px 15px 40px;
  font-style: italic;
  margin: 40px 0px 50px 0px;
}

.quote-text {
  width: 100%;
  margin-top: 10px;
}

.quote-icon {
  position: relative;
  top: 16px;
}

footer.quote-footer {
  font-size: 16px;
  margin-top: 20px;
  font-style: normal;
}
